[package]
name = "dora-runtime"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
dora-primitives = { workspace = true }

num-bigint = "0.4.5"
thiserror = "1.0.57"
bytes = { version = "1.6.0", features = ["serde"] }
sha3 = "0.10.8"
hex = "0.4.3"
mlir-sys = "0.2.2"
melior = {version = "0.18.6", features = [
    "ods-dialects",
]}
ruint = { version = "1.12.1", default-features = false }
rustc-hash = { version = "2.0"}
anyhow = "1.0.93"
revm-precompile = "15.0.0"
sha2 = { version = "0.10", features = ["asm"] }